/.sn
docker-compose.yml
Dockerfile
simplepro.lic
.vscode
.idea
venv
temp
.git
__pycache__
.DS_Store
venv/
simplepro
simpleui
/shark/props.py
/.fleet/run.json
/.fleet/settings.json
/shark/widget.py
__pycache__/